/*Add margin-bottom to everything*/

body {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    --bg-primary: white;
    --bg-element: lightgray;
    --highlight-color: navy;
    margin: 0.5cm 0.5cm 0;
}

#route-info {
    display: flex;
    justify-content: flex-start;
    background-color: var(--highlight-color);
    color: var(--bg-primary);
    width: fit-content;
    gap: 0.5rem;
    padding: 0.2rem;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

#stop_name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#street_names {
    margin-bottom: 0.5rem;
    text-align: justify;
}

#location-info {
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: repeat(var(--table-count), 1fr);
    width: 100%;
}

.timetable-period {
    font-weight: bold;
    border-bottom: 0.2rem solid #000;
    padding-bottom: 0.2rem;
}

table.Vienna-style-timetable {
    text-align: right;
    border: none;
    border-collapse: collapse;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1rem;

    caption.timetable-period {
        text-align: left;
    }
    
    tbody {
        margin-top: 0.2rem;
    }

    th, td {
        border: none;
        padding: 0.1rem 0.25rem;
    }
    
    th {
        font-weight: bold;
    }

    tr:nth-child(odd) {
            background-color: var(--bg-element);
    }

}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--bg-element);
    height: 5rem;
    
    #left-part {
        justify-self: left;
        margin-left: 0.5rem;
    }
    #center-part {
        justify-self: center;
    }
    #right-part {
        justify-self: end;
        margin-right: 0.5rem;
    }
}

.bold-number {
    font-weight: bold;
}
