body {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    --bg-primary: white;
    --bg-element: lightgray;
    --highlight-color: navy;
    margin: 0.5cm 0.5cm 0;
}

#route-info {
    display: flex;
    justify-content: flex-start;
    background-color: var(--highlight-color);
    color: var(--bg-primary);
    width: fit-content;
    gap: 0.5rem;
}

#location-info {
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: repeat(var(--table-count), 1fr);
    width: 100%;
}

.timetable-period {
    font-weight: bold;
}

table.Vienna-style-timetable {
    text-align: right;
    border: none;
    border-collapse: collapse;
    flex: 0 0 auto;
    width: auto;
}

table.Vienna-style-timetable caption.timetable-period {
    text-align: left;
}

table.Vienna-style-timetable th,
table.Vienna-style-timetable td {
    border: none;
    padding: 0.1rem 0.25rem;
}

table.Vienna-style-timetable tr:nth-child(odd) {
    background-color: var(--bg-element);
}

footer {
    display: flex;
    gap: 1rem;
    background-color: var(--bg-element);
}