<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title>Rozkład jazdy</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<header>
    <div>
        <span class="colored-heading">{{ line }}</span>
        <span class="colored-heading">{{ destination }}</span>
    </div>
    <span class="stop_name">{{ stop_name }}</span>
    <span class="street_names">{{ street_names }}</span>
</header>
<main>
    {% for table_dict in table_dict_list %}
    {{ span_list[loop.index0] }}
    <table class="Vienna-style-timetable">
        {% for hour, minutes in table_dict.items() %}
        <tr>
            <td>{{ hour }}</td>
            {% for minute in minutes %}
            <td>{{ minute }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endfor %}
</main>
</body>
<footer>
    <span>{{ timetable_valid_from }}</span>
    <span>{{ stop_id }}</span>
</footer>
</html>